${jsonencode("${name}")}: {
  "Type" : "AWS::SNS::Subscription",
  "Properties": {
    "Endpoint": ${jsonencode("${email}")},
    "Protocol": "email",
    "TopicArn": ${jsonencode("${topic_arn}")}
  }
}